.frame{
	border: 3px solid black;
	padding:4px;
	background-color:black;
	min-height: 500px;
}

.frame .picture{
	text-align:center;
	padding:4px;
	color:white;
	height:100px;
	width:150px;
}

#img{
	max-width:100%;
	object-fit:cover;
	border-radius:60%
}

#testimony::before, #testimony::after{
	content:'"';
}

.preloader-site{
	overflow:hidden
}

.preloader-wrapper{
	background-color:white;
	top:0;
	left:0;
	z-index:10000;
	position:fixed;
	height:100%;
	width:100%;
}

.preloader{
	top:50%;
	left:50%;
	position:absolute;
	width:120px;
}

